/* styles.css */
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100%;
    overflow: hidden;
}

.container {
    justify-content: center;
    display: flex;
    height: 100vh;
    background-color: aqua;
    box-sizing: border-box;
}

.sidebar {
    width: 20%;
    background-color: #333;
    color: white;
    padding: 20px;
    box-sizing: border-box;
    overflow-y: auto;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    margin: 15px 0;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
    display: block;
}

.sidebar ul li a:hover {
    background-color: #575757;
    padding-left: 10px;
}

.content {
    width: 80%;
    padding: 20px;
    box-sizing: border-box;
    overflow-y: auto;
}

@media(min-width: 1200px){
    .container{
        margin: 0 300px;
    }
}

@media(max-width:992px){
    .container{
        margin: 0 20px;
    }
}
@media (max-width: 768px) {
    .container {
        flex-direction: row;  
    }
    .sidebar {
        width: 100%;
        height: auto;
    }
    .content {
        width: 100%;
        height: calc(100vh - 100px);
    }
}
